<!DOCTYPE HTML>
<html>

<head>
    <title>Reset Password</title>
    <!-- Custom Theme files -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
    <link href="/public/style.css" rel="stylesheet" type="text/css" media="all" />
</head>

<body>
    <!--element start here-->
    <div class="reset_pwd">
        <a class="meerk_logo"><img src="/public/logo.png" alt="ChicMic"></a>
        <div class="resetPwd-main">
            <h1>Reset Password</h1>
            <div class="expire_link">
                Sorry, your password reset link is expired.
            </div>
            <p>Go to <a href="http://chicmic.in/">ChicMic</a></p>
        </div>
    </div>
    <div class="copy-right">
        <p>© 2019 ChicMic. All rights reserved</p>
    </div>
</body>

</html>