<!DOCTYPE HTML>
<html>

<head>
	<title>Reset Password</title>
	<!-- Custom Theme files -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900' rel='stylesheet' type='text/css'>
	<link href="/public/style.css" rel="stylesheet" type="text/css" media="all" />
	<script src="/public/jquery-3.3.1.js"></script>
	<script src="/public/validate.js"></script>
	<script>
		$(document).ready(function () {
			$('.password_success').hide();
			$('.show_password_reg_error').hide();
			var url = $(location).attr('href'),
				parts = url.split("/"),
				userToken = parts[parts.length - 1],
				hostName = parts[2];
			$("#resetForm").validate({
				rules:
				{
					pass: {
						required: true,
						minlength: 6
						// maxlength: 15
					},
					cpass: {
						required: true,
						equalTo: '#pass'
					}
				},
				messages: {
					pass: {
						required: "Please provide a password.",
						minlength: "Password at least have 6 characters."

					},
					cpass: {
						required: "Please retype your password.",
						equalTo: "Password doesn't match!"
					}
				}
			});
			$("#resetForm").submit(function (e) {
				e.preventDefault();
				var password = $("#pass").val();
				if (validatePassword(password)) {
					$('.show_password_reg_error').hide();
					var cpassword = $("#cpass").val();
					if (password == cpassword) {
						let url = 'http://' + hostName + '/v1/auth/change_password'
						$.ajax({
							type: "POST",
							url: url,
							data: { password: password, token: userToken },
							success: function (data) {
								if (data.status) {
									$('.password_success').show();
									$('#resetForm').hide();
								} else {
									$('.password_success').hide();
									$('#resetForm').show();
								}
							}
						});
					}
				} else {
					$('.show_password_reg_error').show();
				}
			});
		});
		function validatePassword(str) {
			var re = /^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
			return re.test(str);
		}
	</script>
</head>

<body>
	<div class="reset_pwd">
		<a class="meerk_logo"><img src="/public/logo.png" alt="Chicmic"></a>
		<div class="resetPwd-main">
			<h1>Reset Password</h1>

			<form id="resetForm">
				<p>Please enter new password below.</p>
				<div class="form_group">
					<input type="password" name="pass" id="pass" placeholder="New Password" />
					<span class="show_password_reg_error">Password must contain atleast 6 characters, including
						uppercase, lowercase, number and special
						character.</span>
				</div>
				<div class="form_group">
					<input type="password" name="cpass" id="cpass" placeholder="Confirm Password" />
				</div>
				<div class="btn_group">
					<input id="subButton" type="submit" value="Reset Password" required />
				</div>
			</form>
			<div class="password_success">
				<span>Congratulations!</span> Your password has been changed successfully.
				<p>Go to <a href="http://chicmic.in/">ChicMic</a></p>
			</div>
		</div>
	</div>
	<div class="copy-right">
		<p>© 2019 ChicMic. All rights reserved</p>
	</div>
</body>

</html>